@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--darkGray: #344a5f;
	--lightGray: #f0f1f3;
	--blue: #2295d8;
	--white: #ffffff;
	--black: #000000;
	--lightBlue: #63cbe6;
	--red: #ea676d;
	--purple: #7d8de2;
	--green: #4cc077;
	--yellow: #fdb958;
	--pink: #ec6f91;
	--transparent: transparent;
}

body {
	color: var(--black);
	background: var(--lightGray);
}
